<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="icon" type="image/x-icon" href="../resources/imgs/new.ico">
    <link href="../tailwind/output.css" rel="stylesheet">
</head> 
<body  >    
    <div class=" container  sticky top-0">
    <nav class="mx-auto  bord flex items-center justify-between ">
        <div class=" size-18 text-4xl font-protest">Abhi</div> 
    <div class=" words flex gap-8 px-4"><span><a href="#content1">About</a></span> <span><a href="#content2">Skill</a></span><span><a href="#content3">Education</a></span><span><a href="#content4">Projects</a></span><span><a href="#footar">Contacts</a></span></div></nav>
</div>
<section class="content" id="content1" >
 
<div><h6 class="text-4xl text-center tittle">About</h6>
<p class="text-2xl leading-10" >My name is Abhishek Yadav and I am an aspiring web developer and i would like to bring my skills to the table and contribute to amazing projects.I have good knowledge of Html, css and javascript. I am currently learning react as well.I am familiar with Linux and Aws also.</p>
</div>

</section>
<section class=" content flex " id="content2">
   
<div class="w-full"><h1 class="text-4xl text-center tittle leading-10 ">Skills</h1>
<br>
<div class="flex w-9/12 ml-24 ">
<section >
<div class="text-2xl lbl "><label for="html1">HTML</label>  </div>
<div class="text-2xl lbl "><label for="css">CSS</label></div>
<div class="text-2xl lbl"><label for="js">JS</label></div>
<div class="text-2xl lbl "><label for="linux">LINUX</label></div>
<div class="text-2xl lbl"><label for="aws">AWS</label></div>
<div class="text-2xl lbl"><label for="mongo">MONGO DB</label></div></section>
<span class="w-full">
    <progress class="skill pbar-box w-full" value="0" max="100"></progress>
    <progress class="skill pbar-box" value="0" max="100"></progress>
    <progress class="skill pbar-box" value="0" max="100"></progress>
    <progress class="skill pbar-box" value="0" max="100"></progress>
    <progress class="skill pbar-box" value="0" max="100"></progress>
    <progress class="skill pbar-box" value="0" max="100"></progress>
</span>
</div>

</div>

</section>
<section class=" content" id="content3">
   <h6 class="text-4xl text-center tittle ">Education</h6> 
   <div class="flex justify-between mx-0"><Span class="small-box pt-8">Saraswati Vidyalaya <br> <br> 10th Standard - SSC <br><br>2009-2019 </Span><Span class="small-box pt-8">Swami Ramkrishna Paramhans College <br> <br>12th Standard -HSC<br> <br>2019-2021</Span><Span class="small-box pt-8">Vidayalankar School of Information Technology <br> <br> Bachelor's of Science In I.T. <br> <br> 2021-2024</Span>
</div>
</section>
<section class=" content" id="content4">
    <h6 class="text-4xl text-center tittle ">Projects</h6> 
    <div class="flex justify-around"><Span class="small-box " > Complaint Management System<br><br> I have created and web application and mobile app for user to streamline complaints and make the complaint filing task hassle free <br>  <br>project link </Span><Span class="small-box">Project 2 <br>description <br> project link</Span></div>


</section>
<hr class="my-2 styled-hr">
<section id="footar">
   
<div class="flex justify-around pb-6 "> <span class="text-aliceblue"> <a href="tel:+7718069099" target="_blank"><img class="logos" src="./../resources/imgs/phone-50.png" alt="phone"></a> </span><span><a href="https://www.linkedin.com/in/abhishek-yadav-36893223b/"target="_blank"><img class="logos" src="./../resources/imgs/linkedin-50.png" alt="linkedIn"></a></span><span><a href="https://github.com/ay46263" target="_blank"><img class="logos" src="./../resources/imgs/github-50.png" alt="github"></a></span><span><a href="mailto:ay46263@gmail.com" target="_blank"><img class="logos" src="./../resources/imgs/gmail-50.png" alt="Mail"></a></span> </div>


</div></section>    
<script src="./index.js"></script>
</body>
</html>